*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tabellone  {
    max-width: 800px;
    flex-basis: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 auto;
    background-color: rgba(0,202,177, 1);
}

.square{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    min-height: 100vh;
    display: flex;    
}